<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="/js/JQ.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/translator.min.js"></script>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
