{% extends 'base.html.twig' %}

{% block preloadJavascript %}
    <script src="/js/JQ.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/translator.min.js"></script>
{% endblock %}

{% block body %}
    <form class="jqAuthForm">
    <input name="login" placeholder="Login" /><br />
    <input name="password" type="password" placeholder="pass" /><br />
    <button>Login</button>
</form>
{% endblock %}
