{% extends 'base.html.twig' %}

{% block preloadJavascript %}
    <script src="/static/js/common.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/appStyle.css" />
{% endblock %}

{% block body %}
    <div class="jsReactApp"></div>
{% endblock %}

{% block javascripts %}
    <script src="/static/js/app.js"></script>
{% endblock %}